{% extends "app/layout.html" %}

{% block content %}
<button type="button" class="btn btn-danger" onclick="toggleRightPane(false)">Close</button>
<div class="row">
    <div class="col-md-8">
        <section id="citiesForm">
            <form action="../saveCity/" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Where curupira shall go next?</h4>
                <hr />

                {{ form }}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-left: 0 !important;">
                        <input type="hidden" name="next" value="/" /><br>
                        <input type="submit" value="Add" class="btn btn-default"/>
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter proper data.</p>
                {% endif %}
            </form>
        </section>
        <img src="../../static/app/assets/curupira-correndo.gif" alt="">
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}