#localization-details {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 10;
    padding: 10px 20px;
    background-color: white;
    width: 500px;
    height: calc(100% - 65px);
}

#city-search {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 300px;
    z-index: 10;
}